body {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 50%;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  color: red;
}

h2 {
  color: orange;
}

h3 {
  color: yellow;
}

h4 {
  color: blue;
}

h5 {
  color: green;
}

h6 {
  color: brown;
}

p {
  text-align: justify;
  line-height: 1.5;
}