* {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #155263;
  color: #fafafa;
  padding: 20px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: #f1f1f6;
  width: 800px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.expense-item {
  display: flex;
  align-items: center;
  color: black;
  background-color: #deedf0;
  width: 100%;
  font-size: 22px;
}

.expense-item_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  font-weight: 800;
}

.expense-item_amount {
  border: 2px solid #155263;
  border-radius: 5px;
  padding: 10px;
}
.expense-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border: 2px solid #155263;
  border-radius: 5px;
}

.expense-date_month {
  font-size: 22px;
  font-weight: 700;
}

.expense-date_year {
  font-size: 18px;
}

.expense-date_day {
  font-size: 28px;
  font-weight: 700;
}
